<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MRO Test Suite">
    <listeners>
        <listener class-name="test.java.utils.Listener"/>
    </listeners>
    <test name="Login">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.tests.Script_1"/>
        </classes>
    </test>

    <test name="Create Event">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.tests.Script_2"/>
        </classes>
    </test>

    <test name="Validate Event">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.tests.Script_3"/>
        </classes>
    </test>

    <test name="Delete Event">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="test.java.tests.Script_4"/>
        </classes>
    </test>

</suite>

